@charset "UTF-8";

// HEADER
.header .nav {
    overflow: visible;
	text-align: center;
	@include mdq-max(lg) {
		display: none;
	}
	.nav-list--depth1 {
		align-items: center;
		display: flex;
	}
	.nav-list--depth2 {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		display: none;
	}
	.nav-list--depth3 {
		display: none;
	}
	.depth-1 {
		position: relative;
		min-width: 140px;

		&:last-child{
			margin-right: 4px;
		}

		> .link {
			position: relative;
			height: $nav-height;
			padding: 0 em(24, 20);
			display: flex;
			align-items: center;
            justify-content: center;
			text-align: center;
			color: #333;
			font-family: 'GmarketSans';
			font-size: em(20);
			font-weight: 700;
			line-height: 1.2;
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 0;
				height: 3px;
				// background: $color-1;
				background: #1d1d1d;
				transition: 0.3s;
				display: block;
			}

			&:hover{
				text-decoration: none;
			}

			&:hover,
			&.on {
				// color: $color-1;
				color:#1d1d1d;
			}

			&.on {
				&::after {
					width: 100%;
					left: 0;
				}
			}
		}

		&.hover {
			> .link::after {
				width: 100%;
				left: 0;
			}

			.nav-list--depth2{
				background: #f8f8f8;
			}
		}
	}
	.depth-2 {
		&:first-child{
			margin-top:10px;
		}

		&:last-child{
			margin-bottom:10px;
		}

		> .link {
			display: block;
			padding: 10px 5px;
			font-size: em(17);
			&.on,
			&:hover {
				// color: $color-1;
				font-weight: 700;
			}
		}
	}
	&__bg {
		display: none;
		position: absolute;
		top: 100%; //$nav-height;
		width: 100%;
		left: 0;
		right: 0;
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
		background: #fff;

		&:before{
			content:'';
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color:#d7d7d7;
		}
	}
}

// nav 드롭다운 스타일
.header .nav {
	&.gnb-drop--each {
		// /* box */
		.nav-list--depth2 {
			width: 100%;
			background-color: #fff;
		}
	}

	&.gnb-drop--line {
		// /* line */
		.depth-1 {
			&:first-child .nav-list--depth2 {
				// justify-content: flex-start;
			}
			&:last-child .nav-list--depth2 {
				justify-content: flex-end;
			}
		}
		.nav-list--depth2 {
			justify-content: center;
			width: 100%;
			padding: rem(15) 0;
		}
		.depth-1 {
			// position: static;
		}
		.depth-2 {
			display: inline-block;
			margin-top: 0;
			margin: 0 1rem;
		}
	}
}

// ASIDE
$nav-mobile-direction: right; //네비버튼 위치 , 네비 나오는 방향
.nav-mobile {
	display: none;
	z-index: 700;
	background-color: #fff;
	max-width: 600px;
	width: 100%;
	height: 100%;
	transition: 500ms all;
	text-align: left;
	position: fixed;
	top: 0;
	#{$nav-mobile-direction}: -100%;
	@include mdq-max(lg) {
		display: block;

		&-open{
			overflow: hidden !important;
		}
	}
	&.active {
		#{$nav-mobile-direction}: 0;
	}
	&__btn {
		#{$nav-mobile-direction}: 0;
		top: 0;
		position: absolute;
		text-align: center;
		height: $nav-height-lg;
		width: 50px;
		color: #222;
		font-size: rem(32);
		display: none;
		@include mdq-max(lg) {
			display: block;
		}
	}
	&__bg {
		display: none;
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		right: 0;
		min-height: 100%;
		background: rgba(#000, 0.5);
		z-index: 600;
		
		@include mdq-min(lg) {
			display: none !important;
		}
	}

	&__head {
		height: $nav-height-lg;
		position: relative;
		border-bottom: 1px solid #ddd;

		.logo {
			padding: 0 rem(20);

			img {
				height: 30px;
			
				& + img{
					margin-left: 8px;
				}
			}
		}

		.logo-bx {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			height: 100%;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px; //모바일 브라우저 스크롤 여백
		height: 100%;
		position: relative;
		overflow-y: auto;
		height: calc(100vh - #{$nav-height-lg});
	}
	
	.nav-list{
		overflow-y: auto;
		flex: 1;
	}

	.util {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 20px 5px 0;
		font-size: 12px;
	
		&>* {
			display: inline-flex;
			align-items: center;
			position: relative;
			padding: 0 7px;
			line-height: 1;
	  
			&:before{
			  content:'';
			  position: absolute;
			  top: 50%;
			  right: 0;
			  transform: translateY(-50%);
			  width: 1px;
			  height: 15px;
			  background-color: #d8d8d8;
			}
		  }

		.icon-search{
		  margin: 0;
		}
		
		&>*:first-child{
			padding-left: 0;
		}
	
		&>*:last-child{
			padding-right: 0;
		  
			&:before{
				display: none;
			}
		}

		.user-profile{
		  gap: 6px;
	
		  &-thumb{
			position: relative;
			width: 24px;
			height: 24px;
			flex: 0 0 24px;
			border-radius: 50%;
			border: 1px solid #e4e4e4;
	
			&:before{
			  content:'';
			  display: block;
			  padding-top:100%;
			}
	
			img{  
			  position: absolute;
			  top:50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  object-fit: contain;
			}
		  }
		  
		  &>*:not(.user-profile-tumb){
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 84px;
		  }
		}
	
		.icon-message{
		  position: relative;
		  overflow: visible;
	
		  &:after{
			content: "";
			position: absolute;
			top: 0px;
			right: 0;
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 50%;
			background: #E71825;
			transform: translate(25%, -25%);
			opacity: 0;
		  }
		  
		  &.on:after{
			opacity: 1;
		  }
		}
	}
	
	.depth-1 {
		> .link {
			text-align: left;
			color: #000;
			border-bottom: 1px solid #ddd;
			display: block;
			padding: 1rem 1rem;
			font-size: 1.2rem;
			position: relative;
			&.active {
				background-color: #246BEB;
				color: #fff;
			}
		}
	}
	.depth-2 {
		> .link {
			display: block;
			padding: 0.7rem 1rem;
			padding-left: (0.8rem * 2); //들여쓰기
			background-color: #f8f8f8; // #f5f5f5;
			color: #1D1D1D;
			font-size: 1rem;
			&.active {
				color: #246BEB;
			}
		}

		&:first-child > .link {
			padding-top: 1rem;
		}
		&:last-child > .link {
			padding-bottom: 1rem;
		}
	}
	.depth-3 {
		> .link {
			display: block;
			padding: 0.8rem 1rem;
			padding-left: (0.8rem * 3); //들여쓰기
			background-color: darken(#fff, 8%); // #ebebeb;
			color: #1D1D1D;
			font-size: 0.8rem;
		}
	}

	.depth-1,
	.depth-2 {
		> .link {
			display: block;
			position: relative;
		}
		&._down {
			> .link {
				@include xi-icon('\e941');
				&.active:before {
					content: '\e944';
				}
				&:before {
					position: absolute;
					top: 50%;
					font-size: 1rem;
					margin-top: -0.5rem;
					right: 1rem;
				}
			}
		}
	}

	.nav-list--depth2,
	.nav-list--depth3 {
		display: none;
	}
}
